SLACK_USERNAME=RecapHoldRequestService-development
SLACK_CHANNEL_ALT=cancel-req-logging
SLACK_LOGGING_LEVEL=info
SLACK_CHANNEL=service-logging
JOB_SERVICE_URL=https://dev-platform.nypl.org/api/v0.1/jobs
DEFAULT_LOGGING_LEVEL=debug
API_BASE_URL=https://dev-platform.nypl.org/api/v0.1/
IDENTITY_HEADER=X-NYPL-Identity
USE_JOB_SERVICE=1
SWAGGER_HOST=dev-platformdocs.nypl.org
SCHEMA_BASE_URL=https://api.nypl.org/api/v0.1/current-schemas
DB_CONNECT_STRING=pgsql:host=db;dbname=recap_hold_requests
DB_USERNAME=recap_hold_requests
DB_PASSWORD=recap_hold_requests
XDEBUG_MODE=debug
DEFAULT_STREAM=RecapHoldRequest-qa
CANCEL_REQUEST_STREAM=RecapCancelHoldRequest-qa
DECRYPT_ENV_VARS=false
SLACK_TOKEN=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
